<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    $if(description)$
    <meta name="description" content="$description$" />
    $endif$
    <title>Marijan's homepage - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <script defer src="/js/fontawesome.min.js"></script>
  </head>
  <body>
    <div class="max-w-5xl m-auto">
      <header>
        <nav class="navbar bg-base-100">
          <div class="navbar-start">
            <a
              class="btn btnghost normal-case"
              title="marijan"
              href="https://marijan.pro/"
            >
              marijan
            </a>
            <ul class="menu menu-horizontal px-1">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/pages/about.html">About</a></li>
              <li><a href="/pages/archive.html">Archive</a></li>
            </ul>
          </div>
          <div class="navbar-end">
            <div class="hidden md:flex">
              <!-- external links -->
              <ul class="menu menu-horizontal px-1">
                <li style="font-size: 22px">
                  <a href="https://git.sr.ht/~marijan/" class="ms-3"
                    ><i class="far fa-circle"></i
                  ></a>
                </li>
                <li style="font-size: 22px">
                  <a href="https://github.com/marijanp" class="ms-3"
                    ><i class="fab fa-github"></i
                  ></a>
                </li>
                <li style="font-size: 22px">
                  <a
                    href="https://linkedin.com/in/marijanp"
                    class="ms-3 btn-linkedin"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="max-w-prose m-auto px-1">
          <h2 class="text-xl mb-6">$title$</h2>
          $body$
        </div>
      </main>
      <div class="divider"></div>
      <footer class="footer footer-center bg-base-100 text-accent-content">
        <div>
          <span class="footer-title text-2xl">
            <a
              href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
              title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International"
              class="text-dark"
              style="text-decoration: none"
            >
              <i class="fa-brands fa-creative-commons"></i>
              <i class="fa-brands fa-creative-commons-by"></i>
              <i class="fa-brands fa-creative-commons-nc"></i>
              <i class="fa-brands fa-creative-commons-sa"></i>
            </a>
          </span>
          <p>
            Except where otherwise noted, the content on this site is licenced
            under
            <a
              rel="license"
              itemprop="license"
              href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
              title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International"
              ><abbr
                itemprop="license"
                title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International"
                >CC BY-NC-SA 4.0</abbr
              ></a
            >. Attribute to <strong itemprop="author">Marijan</strong> including
            a link to this <a href="https://marijan.pro/">site</a>.
          </p>
        </div>
        <div>
          <span class="footer-title">Get connected:</span>
          <ul class="menu menu-horizontal px-1">
            <li style="font-size: 22px">
              <a href="https://git.sr.ht/~marijan/" class="ms-3 text-dark"
                ><i class="far fa-circle"></i
              ></a>
            </li>
            <li style="font-size: 22px">
              <a href="https://github.com/marijanp" class="ms-3 text-dark"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li style="font-size: 22px">
              <a
                href="https://linkedin.com/in/marijanp"
                class="ms-3 text-dark btn-linkedin"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
