<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marijan's homepage - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <script defer src="/js/fontawesome.min.js" ></script>
  </head>
  <body>
    <header>
      <nav class="navbar bg-base-100">
        <div class="navbar-start">
          <a class="btn btn-ghost normal-case" title="marijan" href="https://marijan.pro/">
            marijan
          </a>
          <div class="hidden md:flex">
            <ul class="menu menu-horizontal px-1">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/pages/about.html">About</a></li>
              <li><a href="/pages/archive.html">Archive</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar-end">
          <div class="hidden md:flex">
            <!-- external links -->
            <ul class="menu menu-horizontal px-1">
              <li style="font-size: 22px">
                <a href="https://git.sr.ht/~marijan/" class="ms-3 text-dark"><i class="far fa-circle"></i></a>
              </li>
              <li style="font-size: 22px">
                <a href="https://github.com/marijanp" class="ms-3 text-dark"><i class="fab fa-github"></i></a>
              </li>
              <li style="font-size: 22px">
                <a href="https://linkedin.com/in/marijanp" class="ms-3 text-dark btn-linkedin"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="dropdown dropdown-end">
            <button tabindex="0" class="btn btn-square btn-ghost md:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </button>
            <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/pages/about.html">About</a></li>
              <li><a href="/pages/archive.html">Archive</a></li>
            <!-- external links -->
              <li style="font-size: 22px">
                <a href="https://git.sr.ht/~marijan/" class="ms-3 text-dark"><i class="far fa-circle"></i></a>
              </li>
              <li style="font-size: 22px">
                <a href="https://github.com/marijanp" class="ms-3 text-dark"><i class="fab fa-github"></i></a>
              </li>
              <li style="font-size: 22px">
                <a href="https://linkedin.com/in/marijanp" class="ms-3 text-dark btn-linkedin"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="flex flex-h">
      <div class="m-auto">
        <h2 class="text-xl mb-6">$title$</h2>
        <div class="max-w-prose">
          $body$
        </div>
        </div>
      </div>
    </main>
    <div class="divider"></div>
    <footer class="footer footer-center bg-base-100 text-accent-content"> 
        <div class="max-w-prose">
          <span class="footer-title text-2xl">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International" class="text-dark" style="text-decoration: none;">
              <i class="fa-brands fa-creative-commons"></i>
              <i class="fa-brands fa-creative-commons-by"></i>
              <i class="fa-brands fa-creative-commons-nc"></i>
              <i class="fa-brands fa-creative-commons-sa"></i>
            </a>
          </span>
          <p>
            Except where otherwise noted, the content on this site is licenced under <a rel="license" itemprop="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International"><abbr itemprop="license" title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International">CC BY-NC-SA 4.0</abbr></a>. Attribute to <strong itemprop="author">Marijan</strong> including a link to this <a href="https://marijan.pro/">site</a>.
          </p>
        </div>
        <div>
          <span class="footer-title">Get connected:</span>
          <ul class="menu menu-horizontal px-1">
            <li style="font-size: 22px">
              <a href="https://git.sr.ht/~marijan/" class="ms-3 text-dark"><i class="far fa-circle"></i></a>
            </li>
            <li style="font-size: 22px">
              <a href="https://github.com/marijanp" class="ms-3 text-dark"><i class="fab fa-github"></i></a>
            </li>
            <li style="font-size: 22px">
              <a href="https://linkedin.com/in/marijanp" class="ms-3 text-dark btn-linkedin"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
    </footer>
  </body>
</html>
