@import "tailwindcss" source("..");
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    nord --default,
    dim --prefersdark;
}

.sourceCode {
  overflow: scroll !important;
}
.icon {
  height: 1em;
  fill: currentColor;
}
