@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar-start {
  width: 70%;
  justify-content: flex-start;
}
.navbar-center {
  flex-shrink: 0;
}
.navbar-end {
  width: 30%;
  justify-content: flex-end;
}
div.sourceCode {
  color: #cfcfc2;
  background-color: #232629;
  padding: 1em;
  margin: 1em -1em;
  width: calc(100% + 2em);
}
